extends layout

block content
  h1= title
  h2 Menú de opciones

  a(href='/mapa') Ver Mapa
  br 
  br 
  a(href='/buscar') Buscar por DNI 
  br
  br
  a(href='/mapa_estatico') Ver Cursada en tiempo real